<!DOCTYPE HTML>
<html>
<head> 
    <title>Sprinb Boot Demo App - Servisimo</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/normalize.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.min.css}" rel="stylesheet" />
</head>
<body>
    <main class="wrapper">
      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href=".....">
            DEMO Presentation XX/XX/202X
          </a>
  
          <ul class="navigation-list float-right">
  
            <li class="navigation-item">
              <a class="navigation-link" href="/">Return to Index</a> OR <a class="navigation-link" href="/login?logout">Log out</a><br>
              <b>Logged as:  </b><span th:text="${loggedUser}" th:unless="${session == null}">[...]</span>
            </li>
  
          </ul>
  
        </section>
      </nav>
  
  
      <div class="content">
  
        <section class="container centered">
          <div class="about">
            <img th:src="@{/images/servisimo-logo-small.png}" width="100" height="50">
            <!-- <h1><a href="https://www.simianlabs.io">simianlabs.io</a></h1> -->
            <h1>Tickets</h1>
            <br><br>
            <center>
            <span>Browse <a href="/tickets"> >> TICKETS << </a></span>
            </center>
            <br><br>
<!-- FOrmular -->
<div align="center">
  <h2>Register new ticket</h2>

  <form action="#" th:action="@{/register}" method="post" th:object="${ntTicket}">
    <label>Reporter:</label>
    <input type="text" th:field="*{reporter}" th:value="*{reporter} ?: ${loggedUser}" th:text="*{reporter} ?: ${loggedUser}" size="1" />&nbsp;&nbsp;&nbsp;
    <label>Reported date:</label>
    <input type="text" th:field="*{date}" th:value="*{date} ?: ${#temporals.format(localDate, 'yyyy-MM-dd')}" th:text="*{date} ?: ${#temporals.format(localDate, 'yyyy-MM-dd')}" size="1" readonly/><br/>
<br><br>
      <label>Component:</label>
      <select th:field="*{item}">
          <option th:each="component : ${components}" th:value="${component.id}" th:text="${component.name}" />
      </select>

      <label>Assigne:</label>
      <select th:field="*{assignee}">
        <option th:each="worker : ${workers}" th:value="${worker.id}" th:text="${worker.name}" />
    </select>
  <br><br>

      <label>Details:</label>
      <textarea rows="5" cols="25" th:field="*{description}"></textarea>
      <br/>
      <label>Severity:</label>
      <select th:field="*{severity}">
          <option th:each="severity : ${severities}" th:value="${severity.id}" th:text="${severity.severity}" />
      </select>

      <label>Deadline:</label>
        <input type="date" th:field="*{deadline}" id="deadline"/>
      <br/><br><br>

      <button type="submit">Register</button> <input type="reset" value="Reset" />   
  </form>
</div>
            <br>
            <ul>
  
              <li><a href="https://github.com/simianlabs"><img th:src="@{/images/github.png}" width="40" height="40"></a></li>
              <li><a href="https://hub.docker.com/u/smonko/"><img th:src="@{/images/dockerhub.png}" width="40" height="40"></a></li>
              <li><a href="https://twitter.com/SimianLabs"><img th:src="@{/images/twitter.jpg}" width="40" height="40"></a></li>
              <li><a href="https://simianlabs.io/blog"><img th:src="@{images/wordpress.jpg}" width="40" height="40"></a></li>
  
            </ul>
            <!-- Sponsored by <br><a href="https://www.posam.sk"><img th:src="@{/images/posam-logo-png-transparent.png}" width="150"
                height="100"></a> -->
  
          </div>
        </section>
  
  
      </div>
  
      <footer class="footer">
        <section class="container">
          Powered by <a href="https://java.net/">JAVA</a> &amp; <a href="https://www.docker.com/">Docker</a>.
        </section>
      </footer>
  
    </main>
  
  </body>
</html>
<!-- 

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add Bootstrap CSS Demo</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Employees</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Account ID</th>
                        <th>Account Last Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="accounts : ${accounts}">
                        <td th:text="${accounts.id}"></td>
                        <td th:text="${accounts.lastName}"></td>
                        <td>Details: <a th:href="@{'/accounts?id=' + ${accounts.id}}">here</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html> -->