<!DOCTYPE HTML>
<html>
<head> 
    <title>Sprinb Boot Demo App - MCS Accounts</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/normalize.css}" rel="stylesheet" />
    <link th:href="@{/styles/style.min.css}" rel="stylesheet" />
</head>
<body>
    <main class="wrapper">
      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href=".....">
            DEMO Presentation XX/XX/202X
          </a>
  
          <ul class="navigation-list float-right">
  
            <li class="navigation-item">
              <a class="navigation-link" href="/">Return to Index</a> OR <a class="navigation-link" href="/login?logout">Log out</a>
            </li>
  
          </ul>
  
        </section>
      </nav>
  
  
      <div class="content">
  
        <section class="container centered">
          <div class="about">
            <img th:src="@{/images/servisimo-logo-small.png}" width="100" height="50">
            <!-- <h1><a href="https://www.simianlabs.io">simianlabs.io</a></h1> -->
            <h1>Tickets</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reporter</th>
                        <th>Assignee</th>
                        <th>Component</th>
                        <th>Deadline</th>
                        <th>Severity</th>
                        <th>Status</th>   
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${ticket.id}"></td>
                        <td th:text="${ticket.reporter}"></td>
                        <td th:text="${ticket.assignee}"></td>
                        <td th:text="${ticket.item}"></td>
                        <td th:text="${ticket.deadline}"></td>
                        <td th:text="${ticket.severity}"></td>
                        <td th:text="${ticket.status}"></td>
                        <td>Details: <a th:href="@{'/ticket?id=' + ${ticket.id}}">here</a></td>
                    </tr>
                </tbody>
            </table>
            <h2></h2>
            <ul>
  
              <li><a href="https://github.com/simianlabs"><img th:src="@{/images/github.png}" width="40" height="40"></a></li>
              <li><a href="https://hub.docker.com/u/smonko/"><img th:src="@{/images/dockerhub.png}" width="40" height="40"></a></li>
              <li><a href="https://twitter.com/SimianLabs"><img th:src="@{/images/twitter.jpg}" width="40" height="40"></a></li>
              <li><a href="https://simianlabs.io/blog"><img th:src="@{images/wordpress.jpg}" width="40" height="40"></a></li>
  
            </ul>
            <!-- Sponsored by <br><a href="https://www.posam.sk"><img th:src="@{/images/posam-logo-png-transparent.png}" width="150"
                height="100"></a> -->
  
          </div>
        </section>
  
  
      </div>
  
      <footer class="footer">
        <section class="container">
          Powered by <a href="https://java.net/">JAVA</a> &amp; <a href="https://www.docker.com/">Docker</a>.
        </section>
      </footer>
  
    </main>
  
  </body>
</html>
<!-- 

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add Bootstrap CSS Demo</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Employees</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Account ID</th>
                        <th>Account Last Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="accounts : ${accounts}">
                        <td th:text="${accounts.id}"></td>
                        <td th:text="${accounts.lastName}"></td>
                        <td>Details: <a th:href="@{'/accounts?id=' + ${accounts.id}}">here</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html> -->